<h1>Ship It 'n Rip It!</h1>
<form action="/Shipping/Index" method="post">
  <label for="width">Parcel Width</label>
  <input id="width" name="width" type="number">
  <label for="length">Parcel Length</label>
  <input id="length" name="length" type="number">
  <label for="height">Parcel Height</label>
  <input id="height" name="height" type="number">
  <label for="weight">Parcel Weight</label>
  <input id="weight" name="weight" type="number">
  <button type="submit">Submit</button>
</form>
